@media(max-width:1024px){
    .section {
        margin: 20px;
        grid-template-columns: repeat(4, auto);
        gap: 20px;
    }
}
@media(max-width:768px){
    .container {
        height: 100%;
        max-width: 450px;
    }
    .section {
        display: flex;
        flex-direction: column;
    }
}